@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light;
}

a {
}
a:hover {
}

body {
}

h1 {
}

button {
}
button:hover {
}
button:focus,
button:focus-visible {
}

@media (prefers-color-scheme: light) {
  :root {
    /* color: #213547; */
    /* background-color: #ffffff; */
  }
  a:hover {
  }
  button {
  }
}
